<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addcart</servlet-name>
        <servlet-class>com.servlet.addcart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookdetail</servlet-name>
        <servlet-class>com.servlet.bookdetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin0</servlet-name>
        <servlet-class>com.servlet.admin0</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>booktableoption</servlet-name>
        <servlet-class>com.servlet.booktableoption</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartdetail</servlet-name>
        <servlet-class>com.servlet.cartdetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addcart</servlet-name>
        <url-pattern>/addcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookdetail</servlet-name>
        <url-pattern>/bookdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin0</servlet-name>
        <url-pattern>/store</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin0</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin0</servlet-name>
        <url-pattern>/booktable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin0</servlet-name>
        <url-pattern>/booktable1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin0</servlet-name>
        <url-pattern>/lackrecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin0</servlet-name>
        <url-pattern>/bookout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>booktableoption</servlet-name>
        <url-pattern>/createorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>booktableoption</servlet-name>
        <url-pattern>/lackbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>booktableoption</servlet-name>
        <url-pattern>/waitbuy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartdetail</servlet-name>
        <url-pattern>/displaycartdetail</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>cartdetail</servlet-name>
        <url-pattern>/deletecart</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>cartdetail</servlet-name>
        <url-pattern>/createbooktable</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.servlet.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pwdServlet</servlet-name>
        <servlet-class>com.servlet.pwdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>materialServlet</servlet-name>
        <servlet-class>com.servlet.materialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lackrecordServlet</servlet-name>
        <servlet-class>com.servlet.lackrecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookinServlet</servlet-name>
        <servlet-class>com.servlet.bookinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>msureServlet</servlet-name>
        <servlet-class>com.servlet.msureServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pwdServlet</servlet-name>
        <url-pattern>/pwdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>materialServlet</servlet-name>
        <url-pattern>/materialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lackrecordServlet</servlet-name>
        <url-pattern>/lackrecordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookinServlet</servlet-name>
        <url-pattern>/bookinServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>msureServlet</servlet-name>
        <url-pattern>/msureServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
