/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-9-10, 11:13:47
    Author     : Administrator
*/
.boid{
    width: 120px;
    text-align: center;
}
.bodate{
    width: 90px;
    text-align: center;
}
.name{
    width: 90px;
    text-align: center;
}
.phone{
    width: 120px;
    text-align: center;
}
.isbn{
    width: 120px;
    text-align: center;
}
.bname{
    width: 100px;
    text-align: center;
}
.num{
    width: 50px;
    text-align: center;
}
