<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>findServlet</servlet-name>
        <servlet-class>com.servlet.findServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailServlet</servlet-name>
        <servlet-class>com.servlet.detailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imageServlet</servlet-name>
        <servlet-class>com.servlet.imageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>plantServlet</servlet-name>
        <servlet-class>com.servlet.plantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>image1Servlet</servlet-name>
        <servlet-class>com.servlet.image1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>plantWebServlet</servlet-name>
        <servlet-class>com.servlet.plantWebServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>flagWebServlet</servlet-name>
        <servlet-class>com.servlet.flagWebServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>findServlet</servlet-name>
        <url-pattern>/findServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailServlet</servlet-name>
        <url-pattern>/detailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imageServlet</servlet-name>
        <url-pattern>/imageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>plantServlet</servlet-name>
        <url-pattern>/plantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>image1Servlet</servlet-name>
        <url-pattern>/image1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>plantWebServlet</servlet-name>
        <url-pattern>/plantFind</url-pattern>
        <url-pattern>/plantDelete</url-pattern>
        <url-pattern>/plantAdd</url-pattern>
        <url-pattern>/plantUpdate</url-pattern>
        <url-pattern>/plantUpdate1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>flagWebServlet</servlet-name>
        <url-pattern>/flagGet0</url-pattern>
        <url-pattern>/flagGet1</url-pattern>
        <url-pattern>/flagGet2</url-pattern>
        <url-pattern>/flagGetAll</url-pattern>
        <url-pattern>/flagSure</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
